<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>결제 실패</title>
</head>
<body>
<h1>결제에 실패했습니다.</h1>

<p th:if="${param.errorCode == 'EXPIRED_PAYMENT'}">만료되었거나 유효하지 않은 결제입니다.</p>
<p th:if="${param.errorCode == 'CAPACITY_EXCEEDED'}">정원이 초과되어 결제를 진행할 수 없습니다.</p>
<p th:if="${param.errorCode == 'PAYMENT_FAILED'}">결제에 실패했습니다. 다시 시도해주세요.</p>
<p th:if="${param.errorCode == 'PAYMENT_CANCELLED'}">결제가 취소되었습니다.</p>
<p th:if="${param.errorCode == 'CANCEL_FAILED'}">결제 취소에 실패했습니다. 관리자에게 문의해주세요.</p>
<p th:if="${param.errorCode == 'INTERNAL_ERROR'}">알 수 없는 오류가 발생했습니다. 관리자에게 문의해주세요.</p>

<p>
  <a th:href="@{/pay(subscribeId=${param.subscribeId})}">결제 페이지로 돌아가기</a>
</p>
</body>
</html>
