<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>결제하기</title>
    <script src="https://js.tosspayments.com/v1/payment"></script>
</head>
<body>

<h1>결제 페이지</h1>

<button id="payment-button">결제하기</button>

<script th:inline="javascript">
    const clientKey = "[[${clientKey}]]";
    const orderId = "[[${orderId}]]";
    const amount = parseInt("[[${amount}]]");
    const orderName = "[[${orderName}]]";
    const customerName = "[[${customerName}]]";
    const successUrl = "[[${successUrl}]]";
    const failUrl = "[[${failUrl}]]";

    const tossPayments = TossPayments(clientKey);

    document.getElementById("payment-button").addEventListener("click", function () {
        tossPayments.requestPayment('카드', {
            amount: amount,
            orderId: orderId,
            orderName: orderName,
            customerName: customerName,
            successUrl: successUrl,
            failUrl: failUrl
        });
    });
</script>

</body>
</html>
